/* Imports */
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.has-error small{color:red;font-weight:normal;margin-left:5px;}
#jumbotron-index{margin-top:50px;background:#666;color:#eee;}

.datetime-container{
	position: relative;
	display: inline-block;
	display: none;
}

label.error{
	font-size: 11px;
	color: red;
}

.output-email span{
  display: block;
}